:root {

    --background-progressbar: #29e95f;

    /*Header Variables*/
    --background-body: #FAFAFA;
    --color-nav-items: #ffffff;
    --background-header: transparent;

    /*Banner variables*/
    --color-text-banner: #FAFAFA;
}